.container {
  @media screen and (min-width: 980px) {
    width: 80%;
    margin: 0 auto;
    .row {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .col-lg-4 {
        width: calc(25% - 40px);
      }
    }
  }
}