@import './variables.scss';
@import './mixins.scss';




header {
  nav {
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      li {
        a {
          @include button();
        }
      }
    }
  }
}
/* News  : utilisation de l'imbrication*/
#news {
  > div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    article {
      box-sizing: border-box;
      flex-basis: calc(33% - 40px);
      padding: 20px;
      border: 1px solid $grey;
      border-radius: 6px;
    }
  }
}
