/* Mixin */
@mixin button($bgcolor: $grey, $color: black) {
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  background-color: $bgcolor;
  color: $color;
  text-decoration: none;
  border-radius: 6px;
  &:hover {
    background-color: black;
    color: $grey;
  }
}
/* Variables */
$grey: #ccddcc;
header {
  nav {
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      li {
        a {
          @include button(orange, white);
        }
      }
    }
  }
}
/* News  : utilisation de l'imbrication*/
#news {
  > div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    article {
      box-sizing: border-box;
      flex-basis: calc(33% - 40px);
      padding: 20px;
      border: 1px solid $grey;
      border-radius: 6px;
    }
  }
}
